<div class="col-lg-3 col-md-6">
    <div class="card mb-3">
        <img src="<%= produit.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= produit.titre %></h5>
          <p class="card-text"><%= produit.description.slice(0,100) %>...</p>
          <a href="/produit/<%= produit.id %>" class="btn btn-primary">Lire la description</a>
        </div>
    </div>
</div>