<% if (errors) { %>
    <% errors.forEach(function(error){ %>
        <% if (error.path === path) { %>
            <span class="text-danger"><%= error.message %></span>
        <% } %>
    <% }); %>
<% } %>