<%- include('../component/header') %>

    <main class="container my-3">
        <h3 class="fs-3 text-center">About</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, at corrupti optio aspernatur assumenda, fugit delectus, ullam dolores nemo id expedita beatae commodi. Consectetur commodi facere necessitatibus doloremque perspiciatis, sapiente nemo at tempora quod natus voluptatibus tempore nihil fugiat cumque eius vitae molestias labore voluptatem id nostrum repellat? Nesciunt laboriosam optio fugiat reprehenderit labore recusandae quidem aliquam animi. Eum inventore libero delectus nostrum, impedit dicta iusto dolorum tempora quas, hic pariatur reiciendis nesciunt sapiente magnam harum? Repellat debitis ipsam, nihil, quidem soluta rem provident voluptate exercitationem adipisci aliquid sapiente ullam expedita sit facere fugiat vel dolore! Consequatur esse eos blanditiis.
        </p>
    </main>

<%- include('../component/footer') %>